<ion-header>
    <ion-header>
      <ion-toolbar  color="primary">
        <ion-title style="margin-left: 10%">
         Bienvenue sur  Mon ecolier
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content fullscreen>
      
      <ion-grid no-padding>
          <ion-row>
            <ion-col fullscreen no-padding> <ion-img  class="image" src="assets/imgs/p1.jpg" ></ion-img></ion-col>
          </ion-row>
      </ion-grid>
     
      <hr/>
      <form [formGroup]="confirmForm" (ngSubmit)="confirm()">
      <ion-grid>
          <ion-row>
            <ion-col>
        <ion-item>
          <ion-label position="floating">Code de confirmation</ion-label>
          <ion-input type=number  name="code" formControlName="code"></ion-input>
        </ion-item>
      </ion-col>
        </ion-row>
      
           
         <br/>
        <ion-row>
            <ion-col align-self-center>
              
          <ion-button color="primary" style="margin-left: 15%" type="submit"><ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;Confirmer</ion-button>
          </ion-col>
          <ion-col align-self-center>
          <ion-button color="medium"  style="margin-left: 10%"  (click)="exitApp()"> <ion-icon name="close-circle-outline"></ion-icon>&nbsp;Annuler</ion-button>
        </ion-col>
        </ion-row>
  </ion-grid>
  </form>
  </ion-content>
  
  