<ion-header>
    <ion-toolbar  color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
       Bienvenue - MonEcolier
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
      <ion-content>
          <ion-grid no-padding>
              <ion-row>
                <ion-col fullscreen no-padding>
                   <ion-img  class="image" src="assets/imgs/p4.jpg" ></ion-img></ion-col>
              </ion-row>
          </ion-grid>
          <ion-card>
              <ion-item>
                  <ion-icon name="help-circle-outline"></ion-icon>
                <ion-label>Comment ça marche?</ion-label>
                <ion-button fill="outline" slot="end"><ion-icon name="arrow-forward"></ion-icon></ion-button>
              </ion-item>
            
              <ion-card-content>
                This is content, without any paragraph or header tags,
                within an ion-card-content element.
                This is content, without any paragraph or header tags,
                within an ion-card-content element.
                This is content, without any paragraph or header tags,
                within an ion-card-content element.
              </ion-card-content>
            </ion-card>
        
          <hr/>
          <ion-button shape="round" expand="full" size="large" (click)="gotoAddEleve()">Suivre un élève</ion-button>
      </ion-content>
  